<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>ESSKKKGiT to it!</h2>
  <button ion-button color="secondary">gotta git it</button>
  <button ion-button color="danger">Red becuz ima blood</button>
</ion-content>
