page-home {
ion-content {
    background-image: url(https://images.unsplash.com/photo-1529101091764-c3526daf38fe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=43ef07555334a21b6c7dcecc929070ce&w=1000&q=80)!important;
    background-size: cover;
    background-repeat: no-repeat;
}
h2 {
    color: aliceblue;
    text-align:center ;
}
button {
    text-align:center ;
margin: auto;
}
}
